{
	debug
}

# Example Caddyfile for local testing
# This particular setup runs a reverse_proxy from 80 to 2001


:80 {
	reverse_proxy :2001 {
	}

	route {
		# this redis url assumes you are running redis on your local machine for testing purposes
		wafris "redis://localhost:6379?protocol=3"
	}
}
